/* General reset */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(8, 7, 29, 0.74);
     height: 85px;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
   
 
  
   
  }
  
  .navbar .logo {
    font-size: 52px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 48px;
    padding-right: 40px;
   
  }
  
  .nav-links li {
    display: inline;
   
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  
  }
#services{
    height: 400px;
   background-color: red;
}